
  body{
    background-color: #ccc;
  }
  .box {
    border: 1px solid #1f1818;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s;
  }
  
  .box:hover {
    animation: grow-and-shrink 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .box h1 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .box img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-title{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    } 